.header{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background: teal;
  color: white;
}
.links{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  font-weight: bold;
}
.links .active{
  color: white;
  font-weight: bold;
}
.links a{
  text-decoration: none;
  color: white;
}
.header .links button{
  padding: 8px 14px;
  border-radius: 5px;
  border: 2px solid turquoise;
  transition: all ease-in 0.4s;
  background: white;
  color: teal;
  cursor: pointer;

}
.header .links .active-button{
  padding: 8px 14px;
  border-radius: 5px;
  border: 2px solid turquoise;
  transition: all ease-in 0.4s;
  background: lightcoral;
  color: white;
  cursor: pointer;

}